---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Middle-Earth";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/MiddleEarth_PERSONAL_USE_ONLY.otf");
}

:root {
    --md-text-font: "Middle-Earth";
}

header {
    border-bottom: 1px dashed #d2ccc2;
}

body {
    background: #191a3b;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header h1 {
    color: #d2ccc2;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

header h2 {
    color: #888;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.btn {
    font-family: Helvetica, Arial, sans-serif;
}